body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}



.container {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 400px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 5px 100px rgb(255, 255, 255);
    border-style: solid black;

}

.container h1 {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 1);
    background-color: black;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;

}

.container .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);

}

.container .input-box input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);


}

.container .button {
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);


}